body{
    overflow:hidden;
}

h4{
    color: gray;
    font-weight: 100;
    font-family:  'Poppins', sans-serif;
    
}

h1{
    font-family:  'Poppins', sans-serif;
}

.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    left: 40%;
    min-height: 88vh;
    max-height: 100vh;
    box-shadow: 0 0 10px rgb(154, 152, 152);
    padding-bottom: 3rem;
    bottom: 2vh;
    top: 0.5vh;
    padding-left: 1rem;
    padding-right: 1rem;
   
    background-color: rgb(240, 240, 240);
}

.button-section button{
    width: 22vw;
    height: 35px;
    border-radius: 5px;
    border: none;   
}
.button-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-btn{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}
.sign-up{
    color: black;
    font-weight: bold;
    background-color: rgb(184, 133, 232);
}
button:hover{
    animation: 0.5s ease forwards zoomin;
    cursor: pointer;
}
@keyframes zoomin{
    0%{
        transform: scaleY(1.1);
    }
    
    100%{
        transform: scaleY(1.1);
    }
}